/* General Body Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e0f2f1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
}

/* Left-align content */
.left-align {
    text-align: left;
    margin-top: 10%;
}

/* Navbar Styles */
nav {
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

nav .brand-logo {
    font-size: 1.8rem;
    font-weight: bold;   
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    border-radius: 5px;
    color: #e0f2f1; /* Light text color for contrast */
}

/* Cards */
.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;  
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.card-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.card-action a {
    background-color: #00796b;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.card-action a:hover {
    background-color: #004d40;
}

/* Headers */
.header, h2, h3 {
    font-size: 2.5rem;
    color: #005e53;
    font-weight: bold;
    margin-bottom: 20px;
}

.center-align {
    text-align: center;
}

/* Forms */
.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #004d40;
}
    
.input-field input[type="text"],
.input-field input[type="password"],
.input-field textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fafafa;
    box-sizing: border-box;

}

.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus,
.input-field textarea:focus {
    border-color: #1565c0;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 117, 255, 0.2);
}

a.white-text {
    transition: color 0.3s ease;
    padding: 5px;
}

a.teal-text:hover {
    color: #ffffff;
}

/* Buttons */
.btn-custom {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #004d40;
}

.btn-small {    
    font-size: 0.875rem;
}

.btn-small.red {
    background-color: #d32f2f;
    color: white;
}

.btn-small.blue {
    background-color: #00796b;
    color: white;
}

.btn-small:hover {
    opacity: 0.8;
}

/* Table Styles */
table.striped {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table.striped th,
table.striped td {
    padding: 12px 15px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}


table.striped th {
    background-color: #004d40;
    color: white;
}

table.striped td {
    color: #333;
}

table.striped tr:nth-child(even) {
    background-color: #f1f8f4;
}

table.striped tr:hover {
    background-color: #e0f2f1;
}

.highlight td:hover {
    background-color: #00796b !important;
    color: white;
}

/* Table Responsive */
.table-responsive {
    overflow-x: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}



/* Dropdown Menu Styles */
.dropdown-content {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content li a {
    font-size: 1rem;
    text-align: center;
}

.dropdown-content li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Search Form Styles */
.search-form .input-field input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.search-form .input-field input[type="text"]:focus {
    border-color: #00796b;
    box-shadow: 0 0 5px rgba(0, 121, 107, 0.2);
    outline: none;
}

.search-form .btn {
    border-radius: 5px;
    font-size: 1rem;
}

.search-form .btn:hover {
    background-color: #004d40;
}
